._benchmark.yaml
._plts
.keras/
.omnibenchmark/
.parallel/
.snakemake/
Miniconda3.sh
log**
out/*
plts/*
error*
envs/*sif
list
samtools.stats
data/*
snakemake.log
docs/arch
docs/._**
envs/**/*.simg
envs/._*
envs/**/*.sif
envs/*.sif
